.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;

  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @dark;
}

.advantages__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 139px;

  margin: 0;
  margin-top: 46px;
}

.advantages__text b {
  font-weight: 300;
  line-height: 28px;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: @white-two;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 554px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 119px;
  margin-bottom: 322px;
  width: 255px;
}

.advantages__header {
  font-size: 18px;
  font-weight: bold;
  color: @black;
}

.advantages__item-text {
  font-size: 14px;
  font-weight: 400;
  color: @dark;
}

@media (min-width: @tablet-width) {
  .advantages {
    min-width: 660px;
  }

  .advantages__text {
    min-height: 135px;
    width: 585px;

    margin: 0;
    margin-top: 59px;

    font-size: 40px
  }

  .advantages__text b {
    line-height: 42px;
  }

  .advantages__wrapper {
    align-items: flex-end;

    background-color: @white-two;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 20px 28px;
  }

  .advantages__list {
    margin: 0;
    margin-top: 104px;
    margin-bottom: 10px;
    margin-right: 30px;

    width: 300px;
  }

  .advantages__header {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: @black;
  }

  .advantages__item-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: @dark;
  }

  .advantages__hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 387px;

    background-image:  url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-size: 250px auto;
    background-position: 15px 30px;
  }

  .advantages__hours-24 {
    width: 106px;
    height: 70px;
    margin-left: 39px;
    padding: 53px 38px 59px 38px;
    font-size: 96px;
    color: @red;

    border: 10px solid @red;
    border-radius: 50%;
  }

  .advantages__hours-text {
    margin-left: 88px;
    margin-right: 36px;
    min-height: 202px;

    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: @dark;
  }

  .advantages__hours-title {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: @black;
  }

  .advantages__hours-link {
    color: @red;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    width: 731px;
    height: 169px;
    margin-top: 78px;
    margin-bottom: 75px;

    font-size: 50px;
  }

  .advantages__wrapper {
    height: 510px;

    background-image: url(../img/iphone-screen-1-desktop@1x.png), url(../img/iphone-screen-2-desktop@1x.png), url(../img/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 140px top, center top, 780px top;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 872px;
    margin-top: auto;
    margin-left: 163px;
    margin-right: 165px;
  }

  .advantages__header {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  .advantages__item {
    width: 236px;
  }

  .advantages__item-text {
    text-align: center;
  }

  .advantages__hours {
    background-color: @white-two;
  }

  .advantages__hours-24 {
    width: 131px;
    height: 87px;
    margin-left: 153px;
    padding: 64px 46px 72px 46px;
    font-size: 120px;

    border: 15px solid @red;
  }

  .advantages__hours {
    height: 429px;

    background-position: 125px 10px;
    background-size: 310px auto;
  }

  .advantages__hours-text {
    margin-left: 90px;
    margin-right: 179px;
    min-height: 197px;

    font-size: 18px;
    line-height: 30px;
  }

}
