.advantages {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @dark;
}

.advantages__text {
  margin: 0;
  padding: 36px 58px 30px 58px;
}

.advantages__text span {
  display: block;
  padding: 10px 0;
}

.advantages__wrapper {
  padding: 70px 30px 322px 30px;

  background-color: @white-two;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 524px;

  position: relative;
  overflow-x: hidden;
}

.advantages__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 25px solid #ffffff;
}

.advantages__item:nth-child(2) {
  margin: 40px 0;
}

.advantages__header {
  font-size: 18px;
  font-weight: bold;
  color: @black;
}

.advantages__item-text {
  font-size: 14px;
  font-weight: 400;
  color: @dark;
}

@media (min-width: @tablet-width) {
  .advantages__text {
    font-size: 40px
  }

  .advantages__wrapper {
    padding: 60px 25px 35px 30px;

    background-color: @white-two;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 20px 0px;
  }

  .advantages__list {
    width: 51%;
    margin-left: auto;

  }

  .advantages__header {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: @black;
  }

  .advantages__item-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: @dark;
  }

  .advantages__hours {
    display: block;
    padding: 102px 36px 83px 329px;

    background-image: url(../img/timer.svg);
    background-repeat: no-repeat;
    background-position: 21px 59px;
    background-size: 238px 276px;
  }

  .advantages__hours-text {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: @dark;
  }

  .advantages__hours-title {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: @black;
  }

  .advantages__hours-link {
    color: @red;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    width: 731px;
    height: 169px;
    margin-top: 78px;
    margin-bottom: 75px;

    font-size: 50px;
  }

  .advantages__wrapper {
    height: 510px;

    background-image: url(../img/iphone-screen-1-desktop@1x.png), url(../img/iphone-screen-2-desktop@1x.png), url(../img/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 140px top, center top, 780px top;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 872px;
    margin-top: auto;
    margin-left: 163px;
    margin-right: 165px;
  }

  .advantages__header {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
  }

  .advantages__item {
    width: 236px;
  }

  .advantages__item-text {
    text-align: center;
  }

  .advantages__hours {
    background-color: @white-two;
  }

  .advantages__hours-24 {
    width: 131px;
    height: 87px;
    margin-left: 153px;
    padding: 64px 46px 72px 46px;
    font-size: 120px;

    border: 15px solid @red;
  }

  .advantages__hours {
    height: 429px;

    background-position: 125px 10px;
    background-size: 310px auto;
  }

  .advantages__hours-text {
    margin-left: 90px;
    margin-right: 179px;
    min-height: 197px;

    font-size: 18px;
    line-height: 30px;
  }

}
