.contacts {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @dark;

  outline: 1px solid blue;
}

.contacts__item {
  font-size: 18px;
  font-weight: bold;
}

.contacts__item-info {

  font-weight: 300;
  text-align: center;
  color: @red;
}
