.downloads {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: @white;
}

.downloads__header {
  padding-top: 66px;

  background-color: @dark;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center center;
  background-size: auto, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg);
    background-size: 257px 287px, cover;
  }
}

.downloads__header-text {
  max-width: 230px;
  margin: 0 auto;
  padding: 24px 0 315px;

  font-size: 24px;
  line-height: 28px;
}

.downloads__apps {
  padding: 28px 20px 30px 20px;

  background-color: @dark;
}

.downloads__apps-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.downloads__link {
  display: block;
  margin: 0 auto;
  padding: 15px 0 17px;

  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: 3px solid @white;
  border-radius: 50px;

  &:hover {
    color: @red;

    background-color: @white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);

    border-color: rgba(255, 255, 255, 0.3);
  }
}

.downloads__list-apps {
  display: flex;
  align-items: baseline;
  margin: 32px 38px 16px 38px;
}

.downloads__item {
  margin-left: auto;
  margin-right: auto;
}

.downloads__text {
  margin: 0;
}


@media (min-width: @tablet-width) {
  .downloads__header {
    width: 51%;
    height: auto;
    padding-top: 93px;

    background: none;
  }

  .downloads__header-text {
    margin: 0 auto;
    padding: 0;

    font-size: 40px;
    line-height: 1.19;
  }

  .downloads {
    padding-top: 110px;

    background-color: @dark;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }

  .downloads__wrapper {
    margin: 0 auto;
    padding-bottom: 81px;

    background-image: url(../img/iphone-hand-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: right -19px bottom;
    background-size: 697px 545px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/iphone-hand-tablet@2x.png);
    }
  }

  .downloads__apps {
    width: 49%;
    padding-top: 34px;
    padding-right: 0;

    background: none;
  }

  .downloads__list-apps {
    margin: 43px 52px 32px 46px;
  }

  .downloads__text {
    font-size: 18px;
    line-height: 1.33;
  }

  .downloads__link {
    padding-top: 13px;
  }
}


@media (min-width: @desktop-width) {
  .downloads {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }

  .downloads__wrapper {
    max-width: 960px;
    padding-bottom: 122px;
    padding-left: 10px;
    padding-right: 10px;

    background-image: url(../img/iphone-hand-desktop@1x.png);
    background-repeat: no-repeat;
    background-position: right -116px bottom;
    background-size: 1050px 645px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
       background-image: url(../img/iphone-hand-desktop@2x.png);
    }
  }

  .downloads__header {
    width: 31.5%;
    padding-top: 110px;
  }

  .downloads__header-text {
    font-size: 50px;
    line-height: 1.2;
  }

  .downloads__apps {
    width: 32%;
    padding: 0;
  }

  .downloads__link {
    margin-top: 50px;
    padding-bottom: 16px;

    font-size: 21px;
    line-height: 0.86;
  }

  .downloads__list-apps {
    margin-top: 67px;
    margin-bottom: 51px;
  }
}
