.main-header {
  width: 100%;

  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

  background-color: @dark;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: cover;
  }
}

.main-header__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 96px 45px 83px;
}

.main-header__container--contest {
  padding-bottom: 54px;
}

.main-header__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 1.24;
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-header {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: 1200px 730px;
    background-position: center bottom -290px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }

  .main-header__container {
    max-width: 660px;
    margin: 0 auto;
    padding: 180px 153px 140px;
  }

  .main-header__container--contest {
    padding: 180px 50px 80px;
  }

  .main-header__title {
    margin: 0;
    font-size: 50px;
    line-height: 1.2;
  }
}

@media (min-width: @desktop-width) {
  .main-header{
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: 2563px 841px;
    background-position: center bottom -450px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }

  .main-header__container {
    max-width: 960px;
    padding: 174px 153px 100px;

    &--contest {
      padding: 175px 10px 100px;
    }
  }
}
