@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 20px;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 177px;
    margin-right: 23px;
  }

  .page-footer__academy-link {
    font-size: 14px;
    line-height: 18px;
  }

  .page-footer__academy-logo{
    margin-left: 11px;
    padding-top: 14px;
    vertical-align: middle;
  }

  .page-footer__twitter {
    padding: 16px 13px 16px 15px;

    border: 3px solid rgba(40, 54, 69, 0.3);
    border-radius: 50px;
  }

  .page-footer__facebook {
    padding: 12px 18px 16px 19px;

    border: 3px solid rgba(40, 54, 69, 0.3);
    border-radius: 50px;
  }

  .page-footer__youtube {
    padding: 15px 13px 18px 18px;

    border: 3px solid rgba(40, 54, 69, 0.3);
    border-radius: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    padding: 70px 0;
    margin: 0 auto;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 172px;
  }

  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }
}
