.page-header {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;

  background-color: rgba(105, 105, 105, 0.3);

  outline: 1px solid green;
}


