.main-header {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @white;

  background-image: url(../img/bg-back-mobile@1x.jpg), url(../img/iphone-hand-mobile@1x.png);
  /*background-blend-mode: multiply;*/
  background-repeat: no-repeat;
}


@media (min-width: @tablet-width) {
  .main-header {
    height: 320px;
  }

  .main-header__title {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    height: 280px;
  }
  .main-header__title {
    margin: 0;
  }
}
