.page-footer {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: @dark;

  outline: 1px solid green;
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 284px;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 172px;
  }

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 127px;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 172px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 197px;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 172px;
  }
}
