.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: @white;

  background-color: desaturate(@dark, 30%);

  outline: 1px solid green;
}

.page-header__logo {
  height: 69px;
  display: flex;
}

.page-header__logo-image {
  padding-left: 20px;
  padding-top: 22px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  height: 256px;
}

.main-nav__item {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: @tablet-width){
  .page-header__logo {
    height: 109px
  }

  .page-header__logo-image {
    padding-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .page-header{
    flex-direction: row;
    justify-content: space-around;
    min-height: 110px;
  }
  .page-header__logo{
    display: flex;
    align-items: center;
  }
  .page-header__logo-image {
    padding: 0;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 630px;
    height: 110px;
  }

  .main-nav__toggle {
    display: none;
  }
}
