.photo-editor {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: @dark;

  background-color: @white-two;
}

.photo-editor__wrapper {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.photo-editor__post-button {
  padding: 20px 80px 21px 80px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: @red;

  border: 3px solid @red;
  border-radius: 50px;
}

.photo-editor__reset-button {
  padding: 20px 80px 21px 80px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: @dark;

  opacity: 0.1;
  border: 3px solid @dark;
  border-radius: 50px;
}

@media (min-width: @tablet-width) {
  .photo-editor__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .photo-editor__tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-editor__range-bright {
    display: inline-block;
  }

  .photo-editor__range-contrast{
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {

}

