.photos {
  width: 100%;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: normal;
  text-align: center;
  color: @dark;
}

.photos__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 45px 20px 0;
}

.photos__text {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 49px;
}

.photos__day-image {
  max-width: none;
  margin-left: calc((100vw - 100%)/(-2));
  margin-right: calc((100vw - 100%)/(-2));
  min-width: 100vw;
}

.photos__item {
  max-width: 280px;
  margin-bottom: 20px;
  padding-bottom: 19px;
  position: relative;

  background-color: @white-two;
}

.photos__day::before {
  content: "панорама дня";
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 36px;
  background-color: @red;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
}

.photos__img {
  width: 100%;
}

.photos__description {
  margin: 0;
  padding: 8px 10px 0 17px;

  line-height: 1.71;
  text-align: left;
}

.photos__author {
  font-style: normal;
}

.photos__author-name {
  font-weight: bold;
}

.photos__time-ago {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__description-text {
  margin: 0;
  padding-bottom: 11px;
  line-height: 1.77;
}

.photos__likes {
  font-size: 12px;
  line-height: 2;
  color: @red;
  text-transform: uppercase;
}

.photos__heart {
  padding-right: 14px;
}

@media (min-width: @tablet-width) {
  .photos__wrapper {
    max-width: 660px;
    padding: 92px 20px 0;
  }

  .photos__text {
    padding: 0 25px 75px;
    font-size: 18px;
    line-height: 1.67;
  }

  .photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    max-width: none;
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .photos__link {
    flex-shrink: 0;
  }

  .photos__day {
    min-width: 620px;
    margin: 0;
    margin-bottom: 50px;
  }

  .photos__day-image {
    margin-left: calc((100vw - 100%)/-2 - 20px);
    margin-right: calc((100vw - 100%)/-2 - 20px);
  }

  .photos__day::before {
    top: 57px;
  }

  .photos__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 14px 17px 22px 28px;
  }

  .photos__description:not(.photos__description--day) {
    min-height: 145px;
  }

  .photos__description-text {
    padding-bottom: 14px;
  }

  .photos__description--day {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 27px 24px;

    .photos__heart {
      padding-right: 0;
      padding-left: 17px;
    }
  }

  .photos__description-text--day {
    order: 2;
    padding-bottom: 0;
  }

  .photos__likes {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    justify-content: space-between;
    margin-top: auto;
  }
}



@media (min-width: @desktop-width) {
  .photos__wrapper {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .photos__text {
    padding: 0 150px 88px;
  }

  .photos__item:not(.photos__day) {
    width: 300px;
    margin-bottom: 53px;
  }

  .photos__day {
    width: 100%;
  }

  .photos__day::before {
    top: 54px;
  }

  .photos__day-image {
    max-width: 1200px;
    min-width: none;
  }

  .photos__description--day {
    padding-right: 31px;
  }

}
