.rates {
  font-family: OpenSans, Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

  outline: 1px solid red;
}

.rates__table {
  width: 100%;
}

.rates__table-row {
  width: 280px;

  border: 2px solid #e5e5e5;
}

.rates__table-data {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  color: @dark;
}

.rates__table-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: @white;

  background-color: @dark;

  border: 2px solid @dark;
}

.rates__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: @white;
}

/*
.rates__yes {
  background: url(../img/icon-yes.svg);
}

.rates__no {
  background: url(../img/icon-no.svg);
}
*/

@media (min-width: @tablet-width){

}

@media (min-width: @desktop-width) {

}
