.rates {
  padding: 90px 0 29px 0;

  font-family: OpenSans, Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  overflow-x: hidden;

  background-color: @white-two;
  position: relative;
}

.rates::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid @white-two;
  border-top: 25px solid @white;
}

.rates__table {
  position: relative;
  left: 50%;
  width: 900px;
  transform: translateX(-50%);
  table-layout: fixed;
  border-collapse: collapse;
}

.rates__data {
  position: relative;
  width: 280px;
  padding: 15px 60px 14px 32px;

  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  color: @dark;
  text-transform: uppercase;

  background-color: @white;
  border: 2px solid #e5e5e5;

  &--field {
    display: none;
  }

  &--value {
    padding-right: 60px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 29px;
      width: 31px;
      height: 31px;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  &--yes {
    &::before {
      background-image: url(../img/icon-yes.svg);
      background-size: 31px 22px;
    }
  }

  &--no {
    &::before {
      background-image: url(../img/icon-no.svg);
      background-size: 28px 28px;
    }
  }

  &--empty {
    border: none;
  }
}

.rates__title {
  width: 280px;
  padding: 15px 0 19px 0;
  position: relative;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: @white;
  text-transform: uppercase;

  background-color: @dark;
  border-right: 2px solid #e5e5e5;
  border-top: 2px solid @dark;
  border-bottom: 2px solid @dark;

  &--first {
    border-radius: 2px 0 0 0;
  }

  &:last-child {
    border-right: none;
    border-radius: 0 2px 0 0;
  }

  &--hit::before {
    content: "хит";
    position: absolute;
    width: 74px;
    height: 73px;
    top: -2px;
    left: -2px;
    font-size: 10px;
    line-height: 21px;
    color: @white;
    text-transform: uppercase;
    text-align: center;
    background-image: url(../img/bg-hit.svg);
    background-repeat: no-repeat;
    background-size: 74px 73px;
    background-position: center;
  }
}

.rates__price {
  display: block;

  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: @white;
}

.rates__toggles {
  margin-top: 32px;

  text-align: center;
}


@media (min-width: @tablet-width){
  .rates__wrapper {
    padding: 0 20px;
  }

  .rates__data {
    width: 25%;
    padding: 7px 10px 8px 15px;

    &--field {
      display: table-cell;

      text-transform: none;
    }

    &--empty {
      opacity: 0;
    }

    &--value {
      font-size: 0;

      &::before {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .rates__table {
    width: 620px;
  }

  .rates__title {
    width: 25%;
    padding: 10px 30px 5px 30px;

    font-size: 16px;
    line-height: 30px;

    &--hit::before {
      width: 61px;
      height: 61px;
      top: -2px;
      left: 0;
      background-image: url(../img/bg-hit-tablet.svg);
      background-size: 61px 61px;
    }

  }

  .rates__price {
    font-size: 18px;
    line-height: 30px;
  }

  .rates__toggles {
    display: none;
  }

  .rates::before {
    border-top: 50px solid #ffffff;
  }

  .rates {
    padding-top: 87px;
    padding-bottom: 68px;
  }
}


@media (min-width: @desktop-width) {
  .rates__table {
    width: 940px;
  }

  .rates::before {
    border-top: 81px solid #ffffff;
  }

  .rates {
    padding-top: 149px;
    padding-bottom: 94px;
  }

  .rates__title {
    padding: 14px 30px 19px 32px;

    font-size: 18px;
    line-height: 1.67;

    &--hit::before {
      width: 74px;
      height: 73px;
      background-image: url(../img/bg-hit.svg);
      background-size: 74px 73px;
    }
  }

  .rates__price {
    font-size: 24px;
    line-height: 1.25;
  }

  .rates__data {
    padding: 14px 0 15px 21px;

    &--field {
      font-size: 18px;
      line-height: 1.67;
    }
  }
}
